/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

a {
  color: black;
}

a:hover{
  color: #1A7C33;
}

nav {
  padding-bottom: 1000px;
}

.disabled {
  pointer-events: none;
  cursor: default;
  color: #444;
}

#front-pg-header {
  font-family: 'Crushed', cursive;
  font-size:65px;
  margin-top:100px;
  margin-bottom:5px;

}

#center-socialmed {
  text-align: center;
}

#signup_icons {
  width: 150px;
}

#signin {
  margin-right:15px;
  float: right;
  margin-top:10px;
}

#flash-notice {
  text-align:left;
  margin-right:15px;
}

#provider-icons img{
  display:inline-block;
  width:100px;
  margin:8px;
  border-radius: 15px;
  background-color:#1A7C33;
}

h1 {
  font-family: 'Crushed', cursive;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

h2 {
  font-family: 'Crushed', cursive;
  color: #1A7C33
}

.centeredContent {
  // width: 50%;
  text-align: center;
  margin: 0 auto;
}


.profileCard {
  border-radius: 6px;
  width: 290px;
  display: block;
  line-height: 16px;
  position: relative;
  margin-bottom: 10px;
  box-sizing: border-box;
  margin: 0 auto;
}


.profileContent {
  display: block;
  line-height: 16px;
  padding-left: 10px;
}

.profilePic img {
  border-radius: 7px;
  height: 72px;
  width: 72px;
  border: 4px solid #fff;
  box-sizing: border-box; //the padding and border of the element no longer increases its width
  color: #fff;
  line-height: 16px;
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 50px;
  bottom: 29px;
  left: 10px;
}

.profileBg {
  background-size: cover;
  border-bottom: 1px solid #e1e8ed;
  height: 100px;
  border-radius: 4px 4px 0 0;
  background-position: 0 50%;
  width: 100%;
  padding: 0 1px;
  margin-left: -1px;
  margin-top: -1px;
  display: block;
  position: relative;
  z-index: 1;
}

.profileNames {
  padding-top: 15px;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  white-space: nowrap;
  word-wrap: normal;
}

 li {
  list-style: none;
  padding-bottom: 20px;
}

.masthead {
  width: 800px;
  height: 250px;
  margin: 0 auto;
  position: relative;
  top: 60%;
  bottom: 70%;
}
.masthead img {
  width: 100%;
  height: 100%;

  margin-bottom: 10px;
}

.btn {
  color: #ffffff;
  background-color: #1A7C33;
  border: none;
}

.btn:hover {
  color: #1A7C33;
  background-color: #ffffff;
  border: 1px solid #1A7C33;
  height: 60;
  width: 170;

}
